@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap");

html {
  font-size: 100%;
}

html * {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", system-ui, -apple-system, "Helvetica Neue", sans-serif;
  margin: 0;
  color: #ddd;
  font-weight: 400;
  line-height: 1.75;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1.38 0 1.38rem;
  font-weight: 500;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {
  font-size: 2.074rem;
}

h3 {
  font-size: 1.728rem;
}

#games h3 {
  text-decoration-line: underline;
  text-decoration-color: #aaa;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.2rem;
}

small,
.text_small {
  font-size: 0.833rem;
}

h3 span {
  color: #aaa;
}

.logged-in,
.logged-out {
  display: none;
}

#logo {
  font-weight: 800;
  font-size: 1.6rem;
  color: white;
}

a:link,
a:visited {
  color: #ddd;
  text-decoration: none;
}

a:hover,
button:hover {
  opacity: 0.75;
  cursor: pointer;
}

html,
body,
header {
  background-color: black;
}

main {
  background-color: #222;
  min-height: 100vh;
}

header > div,
footer > div {
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  align-items: baseline;
}

header > div {
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  gap: 1rem;
}

header nav button,
header nav a {
  font-weight: 500;
}

main > div {
  padding: 3rem 3rem 6rem;
}

main > div,
header > div,
footer > div {
  max-width: 825px;
  margin: 0 auto;
}

ul {
  padding-left: 0;
}

li {
  display: block;
  list-style: none;
}

#account form > * {
  display: block;
}

#account {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#game {
  text-align: center;
}

#games {
  column-count: auto;
  column-width: 16rem;
  column-gap: 3rem;
}

#games > div {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem 2rem 3rem;
  /* border: 1px solid #666; */
  border-bottom: 6px solid #666;
  /* box-shadow: 1px 5px 10px black; */
  border-radius: 10px;
  background-color: #333;
  display: inline-block;
}

#games li {
  font-size: 0.8rem;
}

#board {
  margin: 0 auto;
  position: relative;
  --w: 50px;
  --h: calc(var(--w) / 1.1547);
  width: calc((var(--w) + 10px) * 8.4);
  height: calc((var(--h) + 10px) * 11);
}

@media (max-width: 36rem) {
  #board {
    scale: 0.65;
    transform: translate(-6.75rem);
    width: 18rem;
    height: 10rem;
    margin-top: -2rem;
    margin-bottom: 4rem;
  }
  #account,
  #games {
    grid-template-columns: 1fr;
  }
  header a {
    font-size: 75%;
    white-space: nowrap;
  }
}

.tile {
  font-family: monospace;
  position: absolute;
  text-align: center;
  font-size: 2.5rem;
  line-height: 0.9;
  width: var(--w);
  height: var(--h);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.tile:hover {
  opacity: 0.6;
}

.c0 {
  background-color: #aaa;
}
.c1 {
  background-color: #666;
}
.c2 {
  background-color: #888;
}

[piece="p"]::after {
  content: "♟";
}
[piece="b"]::after {
  content: "♝";
}
[piece="k"]::after {
  content: "♚";
}
[piece="q"]::after {
  content: "♛";
}
[piece="r"]::after {
  content: "♜";
}
[piece="n"]::after {
  content: "♞";
}
[color="b"] {
  color: black;
}
[color="w"] {
  color: #eee;
}

.possible {
  background-color: darkorange;
}
.selected {
  background-color: gold;
}
